.checkout {
  display: flex;
  background-color: white !important;
  /* flex-direction: column; */
 
  
}
.another {
  background-color: white !important;
}
.checkout img {
  width: 75%;
}

.checkout__add {
  width: 78%;
  height: 110px;
}

.checkout__icon {
  display: inline-block;
  margin-top: 15px;
  height: 3px;
  width: 80%;
  background-color:  rgba(234, 237,234);;
}
.checkout h2 {
  margin-left: 30px;
  margin-top: 30px;
}
