.home {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  
}

@media only screen and (max-width: 1200px) {
  .home {
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .home {
    font-size: 8px;
  }
}


.home__image {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0.5));
  z-index: -1;
  margin-bottom: -250px;
  
}

@media only screen and (max-width: 1200px) {
  .home__image {
    margin-bottom: -150px;
    
  }
}

@media only screen and (max-width: 1200px) {
  .home__image {
    margin-bottom: -120px;
    
  }
}
.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__special {
  z-index: 1;
}